/*Pagina completa*/
html{
    scroll-behavior: smooth;
    background: rgba(53,58,64,1);
}
:root{
    --colorLyrics:rgba(53,58,64,1);
    --linksColor: rgba(149, 147, 145,1);
    --green:rgba(36,150,60,1);
    --softgreen:rgba(150,201,62,255);
    --lightgrey:gray;
    --blue:rgba(204,229,255,255);
}

.texto-pequenio{
    text-align: center;
    font-size: 1vw;
}
.texto-grande{
    text-align: center;
    font-size: 2vw;
}
.texto-diminuto{
    font-size: 0.8vw;    
    font-weight:lighter;
}


/*SECCION NAVBAR*/
.navbar{
    background-color: #e3f2fd;
}
.brand-logo{
    max-width: 8rem;
    max-height: 16rem;
}
.navbar-brand{
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.75vw;
}
.mi_navbar{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.5vw;
}
.nav-link{
    color:rgba(149, 147, 145,1);
    text-decoration: none;
    flex-direction: column;
    padding-right: 2rem ;
    width: 90%;
}
.nav-link.active{    
    color: white;
    flex-direction: column;
    padding-right: 2rem ;
    width: 95%;
}
.nav-link-verde{
    color: #198754;
    text-decoration: none;
    flex-direction: column;
    padding-right: 2rem ;
    width: 90%;
}


/*SECCION CONF BS AS*/
.card-img.conf_bs_as{
    opacity: 35%;
}
.card-title.conf_bs_as{
    color: white;
    text-align: right;
    font-size: 2.7vw;
    font-weight: bolder;
}
.card-img-overlay{
    color: white;
    text-align: right;
    font-size: 1.5vw;
    flex-flow: column wrap;
    margin-right: 8vh;
    position: absolute;
    top: 30%;
    bottom: 15%;
    left: 30%;
}

/*.card-text{
    color: white;
    text-align: right;
    font-size: 1.7vw;
    flex-flow: column wrap;
    margin-right: 8vh;
    position: absolute;
    top: 30%;
    bottom: 15%;
    left: 30%;
}
*/
.btn.quiero_orador{
    color:white;
    outline: white;
}

.btn.comprar_tickets{
    color:white;
    background: #198754;
}


/*SECCION ORADORES*/
.card-img-top{
    width: 100%;
    border-radius: .3rem .3rem 0 0;
}
.card-title.oradores{
    color: black;
    text-align: left;
    font-size: 1.8vw;
    font-weight: bolder;
}


/*SECCION BS AS OCTUBRE*/
.card-body.bs-as-octubre{
    background-color: rgba(53,58,64,1);
    color: white;
}


/*SECCION FORMULARIO*/
.btn.enviar-form{
    color:white;
    background: #198754;
}

/*FOOTER*/
.footer{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding: 0 5rem 0 5rem;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    border: none;
    height: auto;
    color: white;
    font-size: small;

    justify-content: space-evenly;


    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(27,55,67,1) 0%, rgba(31,82,113,1) 100%);
}

.foot{
    padding: 10px;
}


